In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [46]:
class MyOwnLrAlgo:
    def __init__(self):
        self.m = None
        self.b = None

    def fit(self, train_x, train_y):
        # (Xi - Xbar) * (Yi - Ybar)
        num = 0
        dem = 0
        for i in range(x_train.shape[0]):
            num = num + (train_x[i] - x_train.mean()) * (train_y[i] - train_y.mean())
            dem = dem + (train_x[i] - x_train.mean()) * (train_x[i] - x_train.mean())

        self.m = num / dem
        print("the value of m is : ", self.m)

        self.b = train_y.mean() - (self.m * train_x.mean())
        print("the value of b is : ", self.b)
    
    def predict(self, x):
        y = self.m * x + self.b
        print("your package is : ", y)

In [2]:
data = pd.read_csv("my_placment_data.csv")

In [3]:
data

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [25]:
x = data["cgpa"].values
y = data["package"].values

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [47]:
model = MyOwnLrAlgo()

In [48]:
model.fit(x_train, y_train)

the value of m is :  0.560639553061541
the value of b is :  -0.9255954933587058

In [32]:
x_train.shape[0]

160

In [36]:
x_train.mean()

6.9509375

In [38]:
x = 0

for i in range(5):
    x = x + i

print(x)

10

In [ ]:
# y = mx + b

y =

In [45]:
data

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]