In [1]:
# m = 


# b = y bar - m x bar


# skleran

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("place.csv")

In [5]:
data

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [9]:
x = data.iloc[:, 0:1].values
y = data.iloc[:, -1].values

In [32]:
class mylralgo:
    def __init__(self):
        self.m = None
        self.b = None
        
    def fit(self, x_train, y_test):
        num = 0
        dem = 0
        #(xi - x bar)(yi - y bar)
        for i in range(x_train.shape[0]):
            num = num + ((x_train[i] -  x_train.mean()) * (y_test[i] - y_test.mean()))
            dem = dem + ((x_train[i] -  x_train.mean()) * (x_train[i] -  x_train.mean()))

        self.m = num/dem
        self.b = y_train.mean() - (self.m * x_train.mean())

        print("my slop is : ", self.m)
        print("my intersept is : ", self.b)
        
    def predict(self, test):
        # y = mx + b
        y = self.m * test + self.b
        print("the package is : ", y)

In [12]:
y.shape

(200,)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 2)

In [16]:
x_train.shape

(160, 1)

In [33]:
obj = mylralgo()

In [34]:
obj.fit(x_train, y_train)

my slop is :  [0.55795197]
my intersept is :  [-0.89611192]

In [38]:
obj.predict(7.82)

the package is :  [3.46707251]

In [37]:
data

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]