In [1]:
# Numpy :

In [2]:
# import numpy as np

In [3]:
# x = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

In [4]:
# Pandas : 

# 1) Series
# 2) DataFrame

# 1) Data Analysis
# 2) Data Cleaning
# 3) Modifaction
# 4) Expolration

# csv => coma saprated values
# database
# excels
# json

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\programography\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\programography\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\programography\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\programography\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\programography\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\programography\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [7]:
x = [23, 48, 10, 78, 67, 10]

In [8]:
zx = pd.Series(x, index = ["a", "b", "c", "d", "e", "f"])

In [9]:
zx

a    23
b    48
c    10
d    78
e    67
f    10
dtype: int64

In [10]:
# dataframe

In [11]:
x = {
    "name" : ["kriss", "moris", "hlo", "car"],
    "age" : [12, 23, 34, 23]
}

In [12]:
x

{'name': ['kriss', 'moris', 'hlo', 'car'], 'age': [12, 23, 34, 23]}

In [13]:
qw = pd.DataFrame(x)

In [14]:
qw.loc(0)

# loc()

In [15]:
qw

    name  age
0  kriss   12
1  moris   23
2    hlo   34
3    car   23

In [16]:
qw.loc[1]

name    moris
age        23
Name: 1, dtype: object

In [18]:
x = pd.read_csv("mydata.csv")

In [19]:
x

     PassengerId  Survived
0            892         1
1            893         1
2            894         1
3            895         1
4            896         1
..           ...       ...
413         1305         1
414         1306         1
415         1307         1
416         1308         1
417         1309         1

[418 rows x 2 columns]

In [21]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB